@import '~antd/dist/antd.css';
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
/* @import 'react-id-swiper/lib/styles/css/swiper.css'; */
/* RWD Container */

.container {
    width: 100%;
    display: flex;
    align-self: center;
    background-color: #000;
}


/* sm */

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}


/* md */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}


/* lg */

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


/* xl */

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}


/* xxl */

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
}


/* general */
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffe9cb;
  padding: 0;
  width: 100vw;
  margin: 0;
}
.ant-btn-primary{
  border-color: #ffe9cb !important;
}
.ant-btn-primary:hover{
  background-color: #a58957 !important;
}
.ant-back-top-icon{
  background-color: #E0C595;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header{
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color:#E0C595;
}
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color:#46413A;
}
.layout-content {
  background: url(./img/background-image/backcloud.png) center bottom no-repeat, url(./img/background-image/storybgi.png) center top no-repeat;
  background-color: #1c1818;

}

.main-layout {
  /* display: flex;
  flex-direction: row; */
  width: 100vw;
  min-height: 100vh;
}

.bg-gray {
  background-color:#E0C595;
}
/*header*/
.header {
  text-align: center;
  left:0;
  max-width: 1200px;
  background-color: #E0C595;
  height:140px;
  min-width:100vw;
  padding-right:2rem;
}

.header-wrap {
  display: flex;
  padding-top: 2rem;
  position: relative;
}
.img-logo{
  height:110px;
  margin-top:-15px;
  margin-left:70%;
}
.header-text {
  display:flex;
  flex-wrap: nowrap;
  right: 5%;
  position: absolute;
}
.header-text-item{
  position: relative;
  height:60px;
  font-family: 'FakePearl-Regular',sans-serif;
  text-align: right;
  margin-left:45px;
  font-size: 24px;
  color:#46413A;
  transition: 0.15s;
  cursor: pointer;
}

.headerTextItem{
  position:absolute;
  right:5%;
  height:60px;
  font-family: 'FakePearl-Regular',sans-serif;
  text-align: right;
  margin-left:45px;
  font-size: 24px;
  color:#46413A;
  transition: 0.15s;
  cursor: pointer;
  padding-top:1.5%;
}
.header-cart-summary{
  font-family: 'FakePearl-Regular',sans-serif;
  cursor: pointer;
  margin-left:45px;
  margin-top:6px;
}
.ant-badge-count{
  margin-top:15%;
  margin-right:-3%;
  border-radius: 30%;
}
@media (max-width: 800px){
  .ant-badge-count{
    margin-top:7.5%;
    margin-right:35%;
  }
  .headerTextItem{
    margin-right:65%;
  }
}
@media (max-width: 380px){
  .ant-badge-count{
    margin-top:16%;
    margin-right:18%;
  }
  .headerTextItem{
    font-size:14px;
    padding-top:10%;
    margin-top:-5%;
  }
}
/* .cart-summary-text{
  font-family: 'FakePearl-Regular',sans-serif;
  cursor: pointer;
} */

.header-text-item:after{
  content:'';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #46413a;
  transition: 0.15s;
}
.header-text-item:hover:after{
  cursor: pointer;
  width: 100%;
}
.header-text-item:hover{
  color: #46413A;
}
.headerTextItem:after{
  content:'';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #46413a;
  transition: 0.15s;
}
.headerTextItem:hover:after{
  cursor: pointer;
  width: 100%;
}
.headerTextItem:hover{
  color: #46413A;
}
/*Home-top-content*/
.slider-img{
  width:100vw;
}


/*Home-main-content*/
.hot-issue-text{
  display:flex;
  margin-top:100px;
}
.hot-issue{
  color:#E0C595;
  margin: auto;
  font-size: 36px;
}
.more{
  color:#E0C595;
  font-size:20px;
  position:absolute;
  right:7%;
  margin-top:-40px;
}
.more:after{
  content:'';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #e0c595;
  transition: 0.15s;
}
.more:hover{
  color: #E0C595;
}
.more:hover:after{
  cursor: pointer;
  width: 100%;
}
.hot-issue-img{
  text-align:center;
  margin-top:60px;
}
.issue-img{
  width:250px;
  margin-left: 30px;
}
.smallmore{
  display: none;
}
@media (max-width: 1200px){
  .hot-issue-img{
    width: 768px;
    margin: 0 auto;
  }
  .issue-img{
    padding-top: 20px;
  }
}
@media (max-width: 750px){
  .hot-issue-img{
    width: 50%;
    margin: 0 auto;
  }
  .issue-img{
    padding-top: 20px;
  }
  .more{
    display: none;
  }
  .smallmore{
    display: block;
    color:#E0C595;
    font-size:20px;
    position:absolute;
    margin-left: 50%;
    margin-top: 4%;
  }
  .smallmore:after{
    content:'';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #e0c595;
    transition: 0.15s;
  }
  .smallmore:hover{
    color: #E0C595;
  }
  .smallmore:hover:after{
    cursor: pointer;
    width: 100%;
  }

}

.nav-bar{
  display:flex;
  margin: 0 auto;
  width: 720px;
  justify-content: space-around;
  margin-top:-20px;
}
.first{
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-around;
  margin-top:90px;
}
.second{
  display:flex;
  margin: 0 auto;
  width: 40%;
  justify-content: space-around;
  margin-top:90px;
}
.circle{
  min-width: 90px;
  min-height: 90px;
  background-color: #E0C595;
  border-radius: 50%;
  transition: 0.25s;
}
.circle:hover{
  cursor: pointer;
  color: #a58957;
  border-radius: 50%;
  transition: 0.25s;
  transform: scale(0.9);
}
.nav-item{
  color: #46413a;
  text-align: center;
  line-height: 90px;
  font-family: 'FakePearl-Regular',sans-serif;
}
.nav-item--active{
  background-color: #a58957;
  color: #ffe9cb;
  transform: scale(0.9);
}
.nav-item--active:hover{
  color: #ffe9cb;
}
.home-img-change{
  text-align:center;
  margin-top:60px;
  margin-bottom:60px;
}
.header-text-item{
  color: #46413a;
  text-align: center;
  line-height: 90px;
  font-family: 'FakePearl-Regular',sans-serif;
}
.header-text-item--active{
  background-color: #a58957;
  color: #ffe9cb;
  transform: scale(0.9);
}
.header-text-item--active:hover{
  color: #ffe9cb;
}



/*Cookie-introduction*/
.cookie-content{
  background: url('./img/background-image/cookie-bg.png') center center no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
}
.box{
  width:130px;
  height:75px;
  border-radius: 15px;
  margin-top:50px;
  background-color:#e0c595;
  transition: 0.25s;
}
.box:hover{
  cursor: pointer;
  color: #a58957 ;
  border-radius: 15px;
  transition: 0.25s;
  transform: scale(0.9);
}
.cookie-nav-bar{
  display:flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-around;
}
.cookie-nav-item{
  color: #46413a;
  font-size:24px;
  line-height: 74px;
  text-align: center;
  font-family: 'FakePearl-Regular',sans-serif;
  transition: 0.25s;
}
.nav-item--active{
  background-color: #a58957;
  color: #ffe9cb;
  /* transform: scale(0.9); */
}
.nav-item--active:hover{
  color: #ffe9cb;
}


/*footer*/

.icon-wrap{
  text-align: center;
}
.img-facebook,
.img-youtube{
  margin-top: 30px;
  width:60px;
  cursor: pointer;
}
.img-youtube{
  margin-left: 25px;
}
.img-google,
.img-apple{
  margin-top: 30px;
  width:180px;
  cursor: pointer;
}
.img-apple{
  margin-left: 25px;
}
.footer-text{
  text-align: center;
  margin-top:30px;
}
.footer-text-item{
  font-size: 18px;
  color:#FFE9CB;
  font-family: 'FakePearl-Regular',sans-serif;
}
.item2,
.item3{
  margin-left:78px;
}

.footer-text-item:hover{
  cursor: pointer;
  color: #E0C595;
  transition: 0.15s ease-out;
}
.copy-right{
  text-align:center;
  margin-top:30px;
}
.copy-right-text{
  color: #E0C595;
  font-size:12px;
  font-family: 'FakePearl-Regular',sans-serif;
}

/* cookie-detail */
.cookie-flex{
  display: flex;
  /* overflow: hidden; */
  width: 100vw;
  /* transform: translateX(-200%); */
  transition-duration: 1s;
}
.cookie-image{
  height: 90% ;
  margin-top: -50px;
	-webkit-animation: bounce-down 2.5s linear infinite;
	animation: bounce-down 2.5s linear infinite;
}
.ckies{
  margin-top: 8%;
  width: 100vw;
  display: flex;

}
.detail-box{
  margin-top: -10%;
  background: rgba(224, 197, 149, 0.4);
  padding: 40px;
  border-radius: 20px;
  color: white;
  width: 110%;
  margin-left: 60%;
  line-height: 32px;
  font-family: 'FakePearl-Regular',sans-serif;
  margin-bottom: 10%;
}
.detail-box h1{
  color: white;
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 28px;
}
.cardpos{
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}
.cardtext{
  color: #ffe9cb;
  font-family: 'FakePearl-Regular',sans-serif;
  margin: auto;
  margin-right: 0;
}
.cardid{
  font-family: 'FakePearl-Regular',sans-serif;
  color: #ffe9cb;
  margin: auto;
  margin-left: 0;
}
.spinner{
  color: #ffe9cb;
  margin-left: 47.5%;
  margin-top: 20%;
  margin-bottom: 20%;
}

@media (max-width:800px){
  .spinner{
    color: #ffe9cb;
    margin-left: 45%;
    margin-top: 20%;
    margin-bottom: 20%;
    }

}
@media (max-width:380px){
  .cardpos{
    display:block;
    text-align: center;
  }
  .spinner{
    color: #46413a;
    margin-left: 40%;
    margin-top: 20%;
    margin-bottom: 20%;
    }

}
@-webkit-keyframes bounce-down {
	25% {
		-webkit-transform: translateY(-10px);
	}
	50%,
	100% {
		-webkit-transform: translateY(0);
	}
	75% {
		-webkit-transform: translateY(10px);
	}
}

@keyframes bounce-down {
	25% {
		transform: translateY(-10px);
	}
	50%,
	100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(10px);
	}
}
.arrow{
  width: 5%;
  position: absolute;
  margin-top: -35%;
}
.right-arrow{
  right: 0;
  margin-right: 3%;
}
.left-arrow{
  margin-left: 3%;
}
.swiper-container{
  width: 100vw;
}
.swiper-wrapper{
 padding-inline-start:0; 
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: row;
}

/* button */
.btn-tocar{
  width: 178px;
  height: 73px;
  border-radius: 15px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-weight: bold;
  background-color: #e0c595;
  color: #46413a;
  letter-spacing: 0.2em;
  font-size: 24px;
  margin-left: 7rem;
  bottom: 5%;
}
.btn-tocar:hover{
  background-color: #a58957;
  color: #ffe9cb;
}
/* Lineup */
.lineuptitle{
  color: #e0c595;
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 48px;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 3%;
}
.checkout{
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  width: 350px;
  background-color: rgba(70, 65, 58, 0.6);
  font-family: 'FakePearl-Regular',sans-serif;
  letter-spacing: 0.1em;
  color: #ffe9cb;
  margin-top: 15px;
  margin-bottom: 30%;
}
.cart-total-atk-wrap{
  background-color: rgba(255, 233, 203, 0.5);
  border-radius: 25px;
  padding: 10px;
  width: 20%;
  margin: 0 auto;
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 28px;
  color: #46413a;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
}
.saveto{
  text-align: center;
  font-size: 18px;
  color: #46413a;
  font-family: 'FakePearl-Regular',sans-serif;
}
.dropmenu{
  font-family: 'FakePearl-Regular',sans-serif;
  color: #46413a;
  margin-left: 43%;
  margin-top: 1%;
  margin-bottom: 2%;
}
.primary-btn{
  width: 178px;
  height: 73px;
  border-radius: 15px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-weight: bold;
  background-color: #e0c595;
  color: #46413a;
  letter-spacing: 0.2em;
  font-size: 24px;
  margin-left: 44%;
  margin-bottom: 5%;
}
.primary-btn:hover{
  background-color: #a58957;
  color: #ffe9cb;
}
.cooline{
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}
.cooline li{
  list-style: none;
  text-align: center;
}
.cart-item{
  background-image: url(./img/background-image/line-up-cookie-bg.png) ;
  background-repeat: no-repeat;
  width: 100%;
}
.cart-image{
  width: 300px;
  text-align: center;
}
.cart-image img{
  /* width: 100%; */
  height: 250px;
  text-align: center;

}
.cart-name{
  color: #e0c595;
  text-align: center;
  font-family: 'FakePearl-Regular',sans-serif;
  margin-top: 50px;
  font-size: 24px;
}
.cart-item-end{
  background-color: #e0c595;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.15s;
}
.cart-item-end:hover{
  background-color: #a58957;
  color: #e0c595;
  transition: 0.15s;
}
.cart-item-del{
  /* background-color: #e0c595; */
  /* display: flex; */
  color: #e0c595;
  font-size: 18px;
  text-align: center;
  /* border-radius: 50%; */
  width: 150px;
  height: 30px;
  margin-left: -10px;
  margin-top: 45px;
  cursor: pointer;
  transition: 0.15s;
  padding-left: -50px;
}
.orderlist{
  display: flex;
}
.cart-item-del:hover{
  /* background-color: #a58957; */
  color: #ffa29c;
  transition: 0.15s;
}
.order{
  margin-left: 50px;
  margin-top: 10%;
  background-color: #ffe9cb !important;
}
.order:hover{
  font-weight: bold;
  color: #2b2017;
}
/* login */
.login-backgrund{
  background: url(./img/background-image/loginbg.png) center center no-repeat;
  background-color:#2b2017 ;
  width:100%;
  height:1800px;
}

.login-form{
  width:30%;
  margin:auto;
  
}
.logIn-headtext{
  font-size: 48px;
  margin-left:31%;
  margin-top:110%;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
}
.logIn-account{
  color:#FFE9CB;
  font-size: 24px;
  font-family: 'FakePearl-Regular',sans-serif;
}
.button-pos{
  margin: auto;
}
.login-form__button{
  width: 178px;
  height: 73px;
  border-radius: 15px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-weight: bold;
  background-color:  #2b2017;
  color: #FFE9CB;
  letter-spacing: 0.2em;
  font-size: 24px;
  margin-left: 33%;
  margin-top: 20%;
  margin-bottom: 5%;
}
.login-form__button:hover{
  background-color: #a58957;
  color: #ffe9cb;
}
.remember{
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 18px;
  color:#FFE9CB;
}
.account-flex{
  display:flex;
}
.accountText{
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 16px;
  color:#FFE9CB;
}
.ant-input-affix-wrapper{
  background-color:#FFE9CB !important;
  opacity: 0.8 !important;
}
.ant-input{
  background-color:#FFE9CB !important;
  opacity: 0.8 !important;
}

.ant-checkbox-inner{
  background-color:#2b2017 !important ;
}
.login-form__error-title,
.login-form__error-message{
  color:#ffa29c;

}



/* register */
.register-form{
  width:45%;
  margin:auto;
  margin-left:35%;
}
.create{
  width:500px;
}
.register-headtext{
  font-size: 48px;
  margin-left:20.5%;
  margin-top:75%;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
}
.register-text{
  color:#FFE9CB;
  font-size: 24px;
  font-family: 'FakePearl-Regular',sans-serif;

}
.agreement{
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 18px;
  color:#FFE9CB;
}
.register{
  margin-left:22%;
}

.account-link{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 16px;
  color:#FFE9CB;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.account-link:hover{
  color:#a58957;
}

/* profile */
.profile-icon{
  margin:auto;
  margin-top:65%;

}
.cart-summary-profileText{
  font-size: 24px;
  margin-left: 5%;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-top: -10px;
  margin-bottom: 10px;
}
.profile-text{
  font-size: 24px;
  margin:auto;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-top: -10px;
  margin-left: 5%;
  margin-bottom: 10px;
}
.profile-cart-summary{
  text-align: center;
}
.change-password-link{
  font-family: 'FakePearl-Regular',sans-serif;
  font-size: 16px;
  color:#FFE9CB;
  margin-left: 5%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.change-password-link:hover{
  color:#a58957;
}

/* event */
.event-box{
  width:85%;
  margin:auto;
  border:solid 5px #FFE9CB;
  border-radius: 15px;
  background-color:#2b2017 ;
  padding:5% 5%;
  margin-top:10%;

}
.img-flex{
  display:flex;
}
.flex1{
  width:50%;

}
.flex2{
  width:50%;
}

.event-img{
  width:75%;
  margin-left:10%;
  
}
.title-box{
  width:90%;
}
.event-title{
  font-size:32px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-bottom: 6%;
}
.event-text,
.event-mission{
  font-size:20px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
}
.event-text{
  margin-top:-4%;
}
.event-text1{
  margin-left: -1%;
}
.event-notice{
  font-size:14px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
}
.input-box{
  width:90%;
  margin:auto;
  background-color:#6c6052;
  border:solid 1px #6c6052;
  border-radius: 15px;
  margin-top:70px;
}
.input-flex{
  display:flex;
}
.id-flex{
  display:flex;
  width:50%;
  padding:0 3% 0 0;
}
.input-id{
  width:60%;
}
.screen-flex{
  display:flex;
  width:50%;
}
.id-text{
  font-size:20px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-left:10%;
  width:70%;
}
.screen-text{
  font-size:24px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-left:0%;
  width:70%;
}
.click-upload{
  margin-left:-43%;

}
.evesecond{
  margin-bottom: 5%;
}
.displayname{
  font-size:24px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  margin-top:1%;
  margin-left:5%;
}
.upload__button{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-weight: bold;
  background-color:  #2b2017;
  color: #FFE9CB;
  /* letter-spacing: 0.2em; */
  font-size: 20px;
  padding:0 1%;
  margin-left:-15%;
  margin-top:-0.5%;
}
.upload__button:hover{
  background-color: #a58957;
  color: #ffe9cb;
}
.ant-table{
  width:90%;
  margin:auto;
  background-color:#2b2017;
  margin-top:5%;
}
.ant-table-container{
  width:100%;
  height:200px;
  border-radius: 15px ;
  background-color:#6c6052 ;
}
.ant-table-header{
  display:none;
}
.ant-pagination{
  display:none;
}

.ant-table-cell{
  height:100px;
  width:100%;
  font-size:24px;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #FFE9CB;
  padding-left:5% !important;

}
.ant-table-cell:hover{
  color: #6c6052;
}
/* .ant-table-tbody:hover{
  background-color:#6c6052 !important;
} */
@media (max-width:800px){
  .img-flex{
    display:block;
  }
  .flex1{
    width:100%;
  }
  .flex2{
    width:100%;
    margin-left:10%;
  }
  .event-img{
    margin-left: 14%;
  }
  .event-text, .event-mission, .event-notice, .event-title{
    width: 500px;
    margin-left: -5%;
  }
  .event-title{
    margin-top: 3%;
  }
  .input-flex{
    display:block;
  }
  .id-flex{
    width:100%;
  }
  .id-text{
    margin-top: 3%;
    margin-left: 11%;
  }
  .screen-flex{
    width:100%;
  }
  .displayname{
    margin-top: 3%;
    margin-left:11%;
  }
  .screen-text{
    font-size: 20px;
    margin-left:11%;
  }
  .input-id{
    margin-top: 3%;
    margin-left: -21.5%;
    width: 154px;
  }
  .upload__button{
    margin-left:43%;
    margin-bottom: 3%;
  }
  .click-upload{
    margin-left:-18%;
  }
  .ant-table-cell{
    font-size: 18px;
  }
  .order{
    width: 450px;
    height: 30px;
    margin-left: -20px;
  }
  .orderlist{
    width: 350px;
  }
  .cart-item-del{
    width: 150px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 12px;
  }
  .ant-btn{
    margin-top: 10px;
  }
}
@media (max-width:400px){
  .img-flex{
    display:block;
  }
  .input-flex{
    display: block;
  }
  .flex1{
    width:100%;
  }
  .flex2{
    width:100%;
    margin-left:10%;
  }
  .event-img{
    margin-left: 14%;
  }
  .event-text, .event-mission, .event-notice, .event-title{
    width: 260px;
    margin-left: -7%;
  }
  .event-title{
    margin-top: 3%;
    font-size: 18px;
    font-weight: bold;
  }
  .event-text, .event-mission{
    font-size: 14px;
  }
  .event-text1{
    margin-top: 5px;
  }
  .event-notice{
    font-size: 12px;
    margin-top: 20px;
  }
  .id-flex{
    display:block;
  }
  .id-flex{
    width:100%;
  }
  .id-text{
    font-size: 10px;
    margin-top: 5%;
    margin-left: 20%;
    width: 300px;
  }
  .screen-flex{
    width:100%;
  }
  .displayname{
    font-size: 18px;
    margin-top: 3%;
    margin-left:20%;
  }
  .screen-text{
    font-size: 10px;
    margin-left:20%;
  }
  .input-id{
    margin-top: -2%;
    width: 160px;
    margin-left: 20%;
  }
  .upload__button{
    width: 80px;
    font-size: 14px;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  .click-upload{
    margin-top: 7%;
    width: 150px;
    height: 30px;
    margin-left:-30%;
  }
  .ant-table-cell{
    font-size: 12px;
  }
  .orderlist{
    width: 150px;
    width: 175px;
    margin-left: -10px;
    margin-top: 10px;
  }
  .order{
    width: 250px;
    font-size: 10px;
  } 
  .ant-btn{
    overflow: hidden;
    line-height: 10px;
    height: 20px;
    font-size: 10px;
    margin-top: -8px;
  }
  .cart-item-del{
    /* display: none; */
    font-size: 12px;
    margin-top: -8px;
  }
  .primary-btn{
    height: 30px;
  }
  .ant-btn-primary{
    height: 40px;
  }
}

@media (max-width: 1000px){
  .login-backgrund{
    background: url(./img/background-image/loginbg.png) center center no-repeat;
    background-color:#2b2017 ;
    background-size: 80%;
    width:100%;
    height:1200px;
  }
  .login-form{
    width: 40%;
  }
  .logIn-headtext{
    font-size: 36px;
    margin-left:27.5%;
    margin-top:90%;
    font-family: 'FakePearl-Regular',sans-serif;
    color: #FFE9CB;
  }
  .register-headtext{
    font-size: 36px;
    margin-left: 24%;
  }
  .logIn-account{
    margin-top: 50px;
    color:#FFE9CB;
    font-size: 20px;
    font-family: 'FakePearl-Regular',sans-serif;
  }
  .register-text{
    margin-top: 25px;
    color:#FFE9CB;
    font-size: 20px;
    font-family: 'FakePearl-Regular',sans-serif;
  }
  .remember, .agreement{
    font-family: 'FakePearl-Regular',sans-serif;
    font-size: 16px;
    color:#FFE9CB;
  }
  .agreement{
    margin-top: 20px;
  }
  .login-form__button{
    width: 150px;
    height: 65px;
    font-size: 20px;
    margin-left: 27.5%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .register{
    margin-left: 24.5%;
    margin-top: 5%;
  }
  .register-form{
    margin-left: 30%;
  }
  .res-form{
    width: 135%;
    margin:auto;
    /* margin-left:35%; */
  }
}
@media (max-width: 400px){
  .login-backgrund{
    background: url(./img/background-image/loginbg.png) center center no-repeat;
    background-color:#2b2017 ;
    background-size: 80%;
    width:100%;
    height:625px;
  }
  .login-form{
    width: 40%;
  }
  .logIn-headtext, .register-headtext{
    font-size: 24px;
    margin-left:17%;
    margin-top:80%;
    font-family: 'FakePearl-Regular',sans-serif;
    color: #FFE9CB;
  }
  .register-headtext{
    font-size: 24px;
    margin-left: 15%;
    margin-top: 60%;
  }
  .logIn-account, .register-text{
    color:#FFE9CB;
    font-size: 12px;
    font-family: 'FakePearl-Regular',sans-serif;
  }
  .logIn-account{
    margin-top: 5px;
  }
  .account-pass{
    margin-top: -20px;
  }
  .register-text{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .remember, .agreement{
    font-family: 'FakePearl-Regular',sans-serif;
    font-size: 12px;
    color:#FFE9CB;
  }
  .remember{
    margin-top: -20px;
    margin-bottom: 0px;
  }
  .res-form{
    margin-top: -10px;
  }
  .agreement{
    margin-top: -10px;
  }
  .login-form__button{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    font-size: 12px;
    margin-left: 23%;
    margin-top: -10px;
  }
  .account-link{
    /* margin-top: -px; */
    font-family: 'FakePearl-Regular',sans-serif;
    font-size: 12px;
    color:#FFE9CB;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  .account-link:hover{
    color:#a58957;
  }
  .forpass{
    margin-top: -10px;
  }
  .register{
    margin-top: -10%;
    margin-left: 20%;
  }
  .profile-text, .cart-summary-profileText{
    font-size: 14px;
  }
  .change-password-link{
    font-size: 12px;
  }
  .prologin, .corr{
    margin-top: 20px;
    font-size: 12px;
  }
  /* .typeplace{
    height: 20px;
  } */
  /* .res-form{
    width: 85%;
    height: -10px;
    margin:auto;
    margin-left:35%;
  } */
  .ant-input{
    width: 150px;
    height: 20px;
    margin-top: -5px;
  }
  .ant-input-password{
    width: 150px;
    height: 20px;
  }
  .account-link{
    width: 250px;
  }
  .ant-input-affix-wrapper{
    height: 20px;
    margin-top: -5px;
  }
  .lineuptitle{
    font-size: 28px;
  }
}

/* header */
@media (max-width: 768px){
  .header{
    height: 110px
  }
  .header-text{
    display: flex;
    flex-direction: column;
    z-index: 20;
    position:absolute;
    height:100vh;
    width:80%;
    background-color:#E0C595;
    left:0;
    margin-top:-5%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    padding-top:5rem;
  }
  .header-text-item, .header-cart-summary{
    color: #a58957;
    transition: 0.15s;
  }
  .header-cart-summary{
    margin-top: 40px;
  }
  .header-text-item:after{
    border-bottom: none;
  }
  .header-text-item:hover, .header-cart-summary:hover{
    color: #46413a;
    transition: 0.15s;
  }

  .header-text-wrap{
    transform:translateX(-100%);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .img-logo{
    height: 80px;
    position: absolute;
    right: 10%;
  }
  /* Hamburger */
@media (max-width: 800px){
  .menu {
    z-index: 100;
    height:36px;
    width:36px;
    position: absolute;
    margin:auto;
    cursor:pointer;
  }
  .icon-bar {
    position:absolute;
    height:4px;
    background-color:#46413A;
    width:36px;  
    display:block;
    border-radius:2px;
    margin-top: 110%;
    margin-left: 80%;
    transition:0.35s ease all;
   }
  .top-bar {
    top:0px;
  }
  .middle-bar {
    top:13px;
    opacity:1;
  }
  .bottom-bar {
    top:26px;
  }
  @keyframes rotatedown {
    from { transform: rotate(0deg); }
       to { transform: rotate(-45deg); }
   }
   @keyframes rotateup {
     from { transform: rotate(0deg); }
       to { transform: rotate(45deg); }
   }
   @-webkit-keyframes rotatedown {
    from { -webkit-transform: rotate(0deg); }
       to { -webkit-transform: rotate(-45deg); }
   }
   @-webkit-keyframes rotateup {
     from { -webkit-transform: rotate(0deg); }
       to { -webkit-transform: rotate(45deg); }
   }
   #ani-2.menu.open .top-bar {
     top:7px;
     animation:rotatedown 0.3s forwards;
     animation-delay:0.30s;
   }
   #ani-2.menu.open .middle-bar {
     opacity:0;
     width:0%;
   }
   #ani-2.menu.open .bottom-bar {
     top:7px;
     animation:rotateup 0.3s forwards;
     animation-delay:0.30s;
   }
  }
}
@media (max-width: 768px){
  .collapse-mobile{
    transform: translateX(-100%);
    transition: all 0.4s;
  }
  .collapse-mobile-wrap{
    display: none;
  }
  .cookie-flex{
    /* display: block; */
    flex-wrap: wrap;
    /* overflow: hidden; */
    width: 100vw;
    /* transform: translateX(-200%); */
    transition-duration: 1s;
  }
  .cookie-image{
    height: 100% ;
    height: 450px;
    margin-left: 10%;
    margin-top: 0px;
    -webkit-animation: bounce-down 2.5s linear infinite;
    animation: bounce-down 2.5s linear infinite;
  }
  .ckies{
    margin-top: 8%;
    width: 80vw;
    display: block;
  }
  .detail-box{
    margin-top: 10%;
    background: rgba(224, 197, 149, 0.4);
    padding: 40px;
    border-radius: 20px;
    color: white;
    width: 110%;
    margin-left: 10%;
    line-height: 32px;
    font-family: 'FakePearl-Regular',sans-serif;
    margin-bottom: 10%;
  }
  .detail-box h1{
    color: white;
    font-family: 'FakePearl-Regular',sans-serif;
    font-size: 28px;
  }
  .btn-tocar{
    width: 178px;
    height: 73px;
    border-radius: 15px;
    font-family: 'FakePearl-Regular',sans-serif;
    font-weight: bold;
    background-color: #e0c595;
    color: #46413a;
    letter-spacing: 0.2em;
    font-size: 24px;
    margin-left: 50%;
    margin-bottom: 5%;
  }
  .btn-tocar:hover{
    background-color: #a58957;
    color: #ffe9cb;
  }
  .cooline{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
  }
  .cooline li{
    list-style: none;
    text-align: center;
  }
  .cart-item{
    background-image: url(./img/background-image/line-up-cookie-bg.png) ;
    background-repeat: no-repeat;
    background-size: 250px;
    width:95vw;
    display: block;
    margin-left: 33%;
    margin-top: 5%;
    /* flex-wrap: wrap; */
  }
  .cart-image{
    width: 250px;
    text-align: center;
  }
  .cart-image img{
    /* width: 100%; */
    height: 200px;
    text-align: center;
  
  }
  .cart-name{
    color: #FFE9CB;
    font-size: 24px;
    text-align: center;
    font-family: 'FakePearl-Regular',sans-serif;
    margin-top: 50px;
  }
  .cart-item-end{
    background-color: #e0c595;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.15s;
  
  }
  .cart-item-end:hover{
    background-color: #a58957;
    color: #e0c595;
    transition: 0.15s;
  }
  .cart-total-atk-wrap{
    width: 50%;
  }
  .dropmenu{
    margin-left: 38%;
  }
  .primary-btn{
    margin-top: 3%;
    margin-left: 39%;
  }
}

/* RWD */
@media (max-width: 1200px){
  .cookie-nav-bar{
    flex-wrap: wrap;
    width: 600px;
  }
}
@media (max-width: 600px){
  .cookie-nav-bar{
    flex-wrap: wrap;
    width: 400px;
  }
  .nav-bar{
    display: block !important;
    margin: 0 auto;
    width: 300px;
    margin-top:90px;
  }
  .first{
    margin: 0 auto;
    width: 300px;
    justify-content: space-around;
    margin-top:90px;
  }
  .second{
    margin: 0 auto;
    width: 200px;
    justify-content: space-around;
    margin-top:20px;
  }
  .box{
    width: 100px;
    height: 60px;
    border-radius: 15px;
    margin-top:50px;
    background-color:#e0c595;
    transition: 0.25s;
  }
  .box:hover{
    cursor: pointer;
    color: #a58957 ;
    border-radius: 15px;
    transition: 0.25s;
    transform: scale(0.9);
  }
  .cookie-nav-item{
    color: #46413a;
    font-size:18px;
    line-height: 62px;
    text-align: center;
    font-family: 'FakePearl-Regular',sans-serif;
    transition: 0.25s;
  }
  .nav-item--active{
    background-color: #a58957;
    color: #ffe9cb;
    /* transform: scale(0.9); */
  }
  .nav-item--active:hover{
    color: #ffe9cb;
  }
  
}
@media (max-width: 500px){
  body{
    width: 100%;
  }
  .checkout{
    width: 250px;
  }
  .cookie-nav-bar{
    flex-wrap: wrap;
  }
  .hot-issue-img{
    width: 100%;
    margin-left: -15px;
  }
  .smallmore{
    /* width: 100%; */
    margin-left: 43%;
  }
  .issue-img{
    padding-top: 20px;
  }
  .second-icon-wrap{
    width: 300px;
    margin: 0 auto;
  }
  .img-google{
    /* margin: 0 auto; */
    text-align: center;
  }
  .img-apple{
    /* margin: 0 auto; */
    margin-left: 5px;
  }
  .footer-text{    
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .item1{
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .item2{
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .item3{
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .cookie-flex{
    /* display: block; */
    flex-wrap: wrap;
    /* overflow: hidden; */
    width: 100vw;
    /* transform: translateX(-200%); */
    transition-duration: 1s;
  }
  .cookie-image{
    height: 100% ;
    height: 300px;
    margin-left: 5%;
    margin-top: 0px;
    -webkit-animation: bounce-down 2.5s linear infinite;
    animation: bounce-down 2.5s linear infinite;
  }
  .ckies{
    margin-top: 8%;
    width: 80vw;
    display: block;
  }
  .detail-box{
    margin-top: 10%;
    background: rgba(224, 197, 149, 0.4);
    padding: 40px;
    border-radius: 20px;
    color: white;
    width: 110%;
    margin-left: 15%;
    line-height: 32px;
    font-family: 'FakePearl-Regular',sans-serif;
    margin-bottom: 10%;
  }
  .detail-box h1{
    color: white;
    font-family: 'FakePearl-Regular',sans-serif;
    font-size: 20px;
  }
  .btn-tocar{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    font-family: 'FakePearl-Regular',sans-serif;
    font-weight: bold;
    background-color: #e0c595;
    color: #46413a;
    letter-spacing: 0.2em;
    font-size: 16px;
    margin-left: 50%;
  }
  .btn-tocar:hover{
    background-color: #a58957;
    color: #ffe9cb;
  }
}
@media (max-width:400px){
  .cookie-nav-bar{
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .box{
    width: 85px;
    margin-left: 0px;
    height: 50px;
    border-radius: 15px;
    margin-top:50px;
    background-color:#e0c595;
    transition: 0.25s;
  }
  .box:hover{
    cursor: pointer;
    color: #a58957 ;
    border-radius: 15px;
    transition: 0.25s;
    transform: scale(0.9);
  }
  .cookie-nav-item{
    color: #46413a;
    font-size:18px;
    line-height: 53px;
    text-align: center;
    font-family: 'FakePearl-Regular',sans-serif;
    transition: 0.25s;
  }
  .nav-item--active{
    background-color: #a58957;
    color: #ffe9cb;
    /* transform: scale(0.9); */
  }
  .nav-item--active:hover{
    color: #ffe9cb;
  }
  .checkout{
    width: 250px;
  }
  .cooline{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
  }
  .cart-item{
    margin-left: 17%;
  }
  .cart-total-atk-wrap{
    width: 70%;
    font-size: 24px;
  }
  .dropmenu{
    margin-left: 24%;
  }
  .primary-btn{
    margin-left: 27%;
  }
}
/* Number */
.number-content {
  background: url(./img/background-image/backcloud.png) center bottom no-repeat;
  background-color: white;
}
.nummain{
  width: 50%;
  border-radius: 25px;
  background-color: #e0c595;
  margin: 0 auto;
  margin-top: 5%;
  padding: 3%;
  font-family: 'FakePearl-Regular',sans-serif;
  color: #46413a;
}
.logo-img{
  background-image: url(./img/number/number.png);
  width: 100%;
  margin: 0 auto;
}
.btn-get{
  width: 50%;
  height: 15%;
  border-radius: 15px;
  font-family: 'FakePearl-Regular',sans-serif;
  font-weight: bold;
  background-color: #ffe9cb;
  color: #46413a;
  letter-spacing: 0.2em;
  font-size: 24px;
  margin-left: 25%;
  bottom: 5%;
}
.btn-get:hover{
  background-color: #a58957;
  color: #ffe9cb;
}
.input{
  width: 40%;
  text-align: center;
  margin-left: 30%;
  font-family: 'FakePearl-Regular',sans-serif;
}
.account-text{
  font-size: 24px;
  font-family: 'FakePearl-Regular',sans-serif;

}
.get-text{
  text-align: center;
  margin-top: 2%;
  font-family: 'FakePearl-Regular',sans-serif;
}
.step-img{
  margin-left: 17%;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media (max-width: 768px){
  .btn-get{
    font-size: 16px;
  }
  .input{
    width: 60%;
    text-align: center;
    margin-left: 23%;
  }
  .account-text{
    width: 100%;
    font-size: 16px;
  }
  .step-img{
    width: 50%;
    margin-left: 25%;
  }
  .get-text{
    text-align: center;
    margin-top: 3%;
    font-size: 14px;
  }
}
@media (max-width: 400px){
  .logo-img{
    width: 100%;
    margin: 0 auto;
  }
  .nummain{
    width: 80%;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
    font-family: 'FakePearl-Regular',sans-serif;
    color: #46413a;
  }
  .btn-get{
    font-size: 12px;
  }
  .input{
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  .account-text{
    width: 100%;
    font-size: 12px;
  }
  .step-img{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
  }
  .get-text{
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
  }
}
